// Place all the styles related to the Flats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$base-margin: 0.5em auto 0.25em 0.5em;
.card {
  font-size: 1rem;
  display: grid;
  grid-template-rows: 75% 25%;
  min-height: 5em;
  box-shadow: 0.5em 0.5em 1em #888888;
  .main-info {
    background-color: lightgray;
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
    h5 {
      margin: $base-margin;
    }
    p {
      margin: $base-margin;
      font-size: 0.8em;
      span:last-child {
        margin: $base-margin;

      }
    }
  }
  .aside-info {
    background-color: whitesmoke;
    font-size: 0.9em;
    text-align: left;
    padding: 0.5em;
    min-height: 2em;
  }
}

.card-container {
  display: grid;
  gap: 1em;
  grid-template-columns: auto auto auto;
  margin: 0.5em auto;
}

.map-banner {
  background-image: asset-url('paris.jpg');
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  padding: 250px;
}
